
{%  extends "crm/base.html" %}
{% load widget_tweaks %}
    {% block content %}
    <div class="row">
		<div class="col-md-8">
			<h1>Sign In</h1>

			<form action="/signin/" method="post" class="well">
		    {% csrf_token %}
		    {% for field in form %}
		    <div class="form-group form-group-lg {% if field.errors %}has-error{% endif %}">
		    <label class="control-label">{{field.label}}</label>
		    {% if field.name = 'email' %}
		    <div class="input-group">
    			<span class="input-group-addon">@</span>
		  		{% render_field field class="form-control" %}
		  	</div>
		  	{% else %}
		  		{% render_field field class="form-control" %}
		  	{% endif %}
		  	</div>
		    {% endfor %}
		    <input type="submit" value="Submit" />
		</form>

		</div>
		<div class="col-md-4">
			<h4>Navigation</h4>
		</div>
		</div>
	</div>
  {% endblock %}